* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

/* Container */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #68d69a;
  color: rgb(32, 11, 11);
  padding: 1.6rem 0;
}

.header_title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
}

.header_subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

/* Actions */

.actions {
    background-color: #F7F7F7;
    border-bottom: 1px solid #dedfe0;
    padding: .8rem
}

.actions_container {
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.actions_container--spaced {
    justify-content: space-between
}

/* Form Inputs */

.input {
  border: 1px solid #DEDFE0;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3rem;
  margin-right: .8rem;
  padding: .4rem .8rem;
}

.button {
  background: #68d69a;
  border: none;
  border-bottom: 2px solid #418560;
  color: rgb(5, 2, 2);
  font-size: 1.4rem;
  font-weight: 300;
  padding: .8rem;
  transition: background .3s ease;
}

.button:hover {
  background: #396684;
}

.button--secondary {
  background: #68d69a;
  border: none;
  border-bottom: 2px solid #418560;
  color: rgb(5, 2, 2);
  font-size: 1.4rem;
  font-weight: 300;
}

.button--secondary:hover {
  background: #6E6E6E;
}

/* Recipe editor */

.title-input {
  border: 1px solid #DEDFE0;
  font-size: 2rem;
  font-weight: 300;
  display: block;
  margin: 2.4rem 0; ß
  padding: .8rem;
  width: 100%;
}

.body-input {
  border: 1px solid #888888;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 300;
  display: block;
  margin: 2.4rem 0;
  min-height: 15rem;
  padding: .8rem;
  width: 100%;
}

/* Recipe List Item */

.list-item {
  text-decoration: none;
  color: #000000;
  cursor: pointer;
  background: #969998;
  border: 2px solid #68d69a;
  margin: 1.6rem 0;
  padding: 1.6rem;
  display: block;
  transition: background .3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.list-item_container {
  display: flex;
  font-size: 1.8rem;
  font-weight: 300;
  align-items: baseline;
}

.list-item_container > *:first-child {
  margin-right: .8rem;
}

.list-item:hover {
  background: #eeeeee;
}

.list-item_title {
  font-size: 1.8rem;
  margin-bottom: .4rem
}

.list-title {
  margin: 3.2rem 0 1.6rem;
}

.list-item_subtitle {
  color: #666;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
}

.empty-message {
  text-align: center;
  margin: 3.2rem 0;
}