* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

/* Container */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #68d69a;
  color: rgb(32, 11, 11);
  padding: 1.6rem 0;
}

.header_title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
}

.header_subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

/* Actions */

.actions {
    background-color: #F7F7F7;
    border-bottom: 1px solid #dedfe0;
    padding: .8rem
}

.actions__container {
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.actions__container--spaced {
    justify-content: space-between
}