* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background: #2B292E;
    color: #fafafa;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.6rem;
}

/* Container */

.container {
  max-width: 60rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #5520cf;
  color: rgb(255, 255, 255);
  padding: 1.6rem 0;
}

.header_title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
}

.header_subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

/* Actions */

.actions {
    background-color: #b6b4b4;
    border-bottom: 1px solid #dedfe0;
    padding: .8rem
}

.actions_container {
    align-items: center;
    display: flex;
    max-width: 60rem;
    margin: 0 auto;
    min-height: 3rem;
    padding: 0 1.6rem;
}

.actions_container--spaced {
    justify-content: space-between
}

.searchtextinput {
  border: 1px solid #5520cf;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3rem;
  margin: 2.4 rem 0;
  margin-right: .8rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  padding: 1.2rem .8rem;
}

/* Form Inputs */

.input {
  border: 1px solid #5520cf;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3rem;
  margin: 2.4 rem 0;
  margin-right: .8rem;
  margin-top: 1.2rem;
  margin-bottom: 4.0rem;
  padding: 1.2rem .8rem;
}

.button {
  background: #5520cf;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 300;
  padding: .8rem;
  transition: background .3s ease;
}

.button:hover {
  background: #7c5bc9;
}

.button--secondary {
  background: #5520cf;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.4rem;
  font-weight: 300;
  margin-top: 1.2rem;
}

.button--secondary:hover {
  background: #7c5bc9;
}

/* Recipe editor */

.title-input {
  border: 2px solid #5520cf;
  background: #2B292E;
  color: #eeeeee;
  font-size: 2rem;
  font-weight: 300;
  margin: 2.4rem;
  display: block;
  margin-left: 0;
  margin-top: 2.4rem;
  margin-bottom: 4.0rem;
  padding: .8rem;
  width: 100%;
}

.body-input {
  border: 2px solid #5520cf;
  background: #2B292E;
  color: #eeeeee;
  font-family: inherit;
  font-size: 1.6rem;
  font-weight: 400;
  display: block;
  margin-bottom: 4.0rem;
  margin-top: 1.2rem;
  min-height: 15rem;
  padding: .8rem;
  width: 100%;
}

/* Recipe List Item */

.list-item {
  text-decoration: none;
  color: #eeeeee;
  cursor: pointer;
  background: #2B292E;
  border: 2px solid #5520cf;
  margin: 1.6rem 0;
  padding: 1.6rem;
  display: block;
  transition: background .3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.list-item_container {
  display: flex;
  font-size: 1.6rem;
  font-weight: 400;
  align-items: baseline;
}

.list-item_container > *:first-child {
  margin-right: .8rem;
}

.list-item:hover {
  background: #7c5bc9;
}

.list-item_title {
  font-size: 1.8rem;
  margin-bottom: .4rem
}

.list-title {
  margin: 3.2rem 0 1.6rem;
}

.list-item_subtitle {
  color: #666;
  font-size: 1.4rem;
  font-weight: 300;
  font-style: italic;
}

.empty-message {
  text-align: center;
  margin: 3.2rem 0;
}